[Unit]
Description=Turret tracking and reporting
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/pi/turret
ExecStart=/usr/bin/python3 /home/pi/turret/main.py
Environment="LD_LIBRARY_PATH=/usr/local/lib:$LD_LIBRARY_PATH"
Environment="PYTHONPATH=$PYTHONPATH:/usr/local/lib"
Restart=on-failure

[Install]
WantedBy=multi-user.target
